<nav class="navigation">
  <ul class="nav-list">
    <li {% if page.url == "/" %}class="current_path current"{% endif %}><a href="{{ site.url }}/">Home</a></li>
    <!--
    <li {% if page.url == "/setup.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/setup.html">Hardware Setup</a></li>
    -->
  </ul>
  <div style="padding: 10pt 5pt 5pt 5pt; background-color: white"><b>Experiments</b></div>
  <ul class="nav-list">
<li {% if page.url == "/web/2020-10-07_23-22-39_868017.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/2020-10-07_23-22-39_868017.html">Experiment 0</a></li>
<li {% if page.url == "/web/2020-10-12_11-20-32_230471.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/2020-10-12_11-20-32_230471.html">Experiment 1</a></li>
  </ul>
</nav>
