		<p><pre><code>@inproceedings{GallNaab20,
  title = {{5G QoS: Impact of Security Functions on Latency}},
  author = {Gallenm\"uller, Sebastian and Naab, Johannes and Adam, Iris and Carle, Georg},
  booktitle = {2020 IEEE/IFIP Network Operations and Management Symposium (NOMS 2020)},
  year = {2020},
  address = {Budapest, Hungary},
  month = apr,
  keywords = {5G, network slicing, URLLC, IPS, QoS, latency, Linux, DPDK, operating system (OS)},
  pdf = {http://www.net.in.tum.de/fileadmin/bibtex/publications/papers/gallenmueller_noms2020.pdf},
  month_numeric = {4}
}</code></pre></p>
